.block{
    height: 412px;
    width: 1157px;
    background: #C3A697;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 42px 57px;
}
.txt{
    margin-top: 5px;
    margin-bottom: 16px;
}
.list{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
}
.subtxt{
    font-style: italic;
    color: #686868;
}
