.btn{
    padding: 5px 15px;
    background-color: var(--white);
    color: black;
    font-style: inherit;
    font-weight: normal;
    border: none;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    width: 200px;
}
.btn:hover{
    background-color: var(--dark-orange);
    color: var(--white);
}